{# set acl -#}
{# params: sw, port, ip -#}
{% if sw.model == 'QSW-2800-28T-AC' -%}
    {%- if port is defined and port -%}
        {%- if ip is defined and ip -%}
conf t
    int eth 1/{{ port }}
        am port
        am ip-pool {{ ip }} 1
    exit
end
        {%- elif ip is defined and not ip -%}
conf t
    int eth 1/{{ port }}
        no am port
    exit
end
        {%- else -%}
sh am int eth 1/{{ port }}
        {%- endif -%}
    {%- else -%}
sh am
    {%- endif -%}
{%- elif ('DES' in sw.model and '3026' not in sw.model) or
        sw.model in ['DGS-1210-28X/ME/B1','DGS-3000-26TC'] -%}
    {%- if port is defined and port -%}
        {%- if ip is defined and ip -%}
config access_profile profile_id 10 add access_id {{ port }} ip source_ip {{ ip }} port {{ port }} permit
config access_profile profile_id 20 add access_id {{ port }} ip source_ip 0.0.0.0 port {{ port }} deny
        {%- elif ip is defined and not ip -%}
config access_profile profile_id 10 del access_id {{ port }}
config access_profile profile_id 20 del access_id {{ port }}
        {%- else -%}
sh conf cur inc "port {{ port }} "
        {%- endif -%}
    {%- else -%}
sh conf cur inc "profile_id "
    {%- endif -%}
{%- endif -%}
