{# backup switch config to tftp server -#}
{# params: sw, server, path -#}
{%- set path = path | default('backup') -%}
{%- set ip = sw.mgmt_ip -%}
{%- set server = server | default('192.168.' ~ ip.words[2] ~ '.250') -%}
{%- if sw.model == 'DES-3026' -%}
    upload configuration {{ server }} {{ path }}/{{ ip }}.cfg
{%- elif sw.model in ['DGS-3000-26TC',
                      'DGS-3627G',
                      'DGS-3120-24SC',
                      'DES-3200-28/C1',
                      'DES-3200-10/C1',
                      'DES-3200-28F/C1'] -%}
    upload cfg_toTFTP {{ server }} dest_file {{ path }}/{{ ip }}.cfg
{%- elif sw.model in ['DES-3526',
                      'DES-3028G',
                      'DES-3200-28',
                      'DES-3200-28F',
                      'DGS-1210-28X/ME/B1'] -%}
    upload cfg_toTFTP {{ server }} {{ path }}/{{ ip }}.cfg
{%- elif sw.model in ['DXS-3600-32S',
                      'DXS-1210-28S'] -%}
    copy running-config tftp: //{{ server }}/{{ path }}/{{ ip }}.cfg
{%- elif sw.model == 'QSW-2800-28T-AC' -%}
    copy running-config tftp://{{ server }}/{{ path }}/{{ ip }}.cfg
{%- elif sw.model == 'LTP-8X' -%}
    commit
    save
    copy fs://config tftp://{{ server }}/{{ path }}/{{ ip }}.cfg
{%- elif sw.model == 'DXS-1210-12SC/A1' -%}
    save startup-config
    copy startup-config tftp://{{ server }}/{{ path }}/{{ ip }}.bin
{%- elif sw.model == 'DXS-1210-12SC/A2' -%}
    copy running-config tftp://{{ server }}/{{ path }}/{{ ip }}.cfg
{%- endif -%}
