{# get acl config -#}
{# params: sw, port -#}
{% if sw.model == 'QSW-2800-28T-AC' -%}
    sh am {%- if port is defined +%} int eth 1/{{ port }}{%- endif -%}
{%- elif ('DES' in sw.model and '3026' not in sw.model) or 
        sw.model in ['DGS-1210-28X/ME/B1','DGS-3000-26TC'] -%}
    {%- if port is defined -%}
        sh conf cur inc "port {{ port }} permit"
    {%- else -%}
        sh conf cur inc "profile_id 10 "
    {%- endif -%}
{%- endif -%}
